@model Bernardi.Luca._5H.Ecommerce.Models.Utenti
@inject IHttpContextAccessor HttpContextAccessor
@{
    string? Valore = @HttpContextAccessor?.HttpContext?.Session.GetString("Login");
}
@using Microsoft.AspNetCore.Http;
@{
    string strIsAdmin = HttpContextAccessor?.HttpContext?.Session.GetString("IsAdmin");
    Boolean IsAdmin = strIsAdmin=="True" ? true : false;
}


@{
    ViewData["Title"] = "Modifica";
}
<style>
    .btn-btn {
        display: inline-block;
        width: 150px;
        margin-top: 10px;
        padding: 5px 5px;
        background-color: #007bff;
        color: #fff;
        text-align: center;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .btn-canc{
        display: inline-block;
        width: 150px;
        margin-top: 10px;
        padding: 5px 5px;
        background-color: #dc3545;
        color: #fff; 
        text-align: center;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
</style>

<h1>Modifica</h1>

<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cognome" class="control-label"></label>
                <input asp-for="Cognome" class="form-control" />
                <span asp-validation-for="Cognome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nickname" class="control-label"></label>
                <input asp-for="Nickname" class="form-control" />
                <span asp-validation-for="Nickname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNascita" class="control-label"></label>
                <input asp-for="DataNascita" class="form-control" />
                <span asp-validation-for="DataNascita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
    <label class="form-check-label" style="position: relative;">
        <input class="form-check-input" asp-for="Admin" style="pointer-events: none;" /> 
        @Html.DisplayNameFor(model => model.Admin)
        <span class="overlay" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0;"></span>
    </label>
</div>

            <div class="form-group">
                <input type="submit" value="Salva modifiche" class="btn-btn" />
            </div>
        </form>
    </div>
</div>

<form asp-action="Details" method="get">
    <input type="hidden" name="id" value="@Model.Id" />
    <button type="submit" class="btn-canc">Torna Indietro</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
