@{
    ViewData["Title"] = "Informativa sulla Privacy";
}
<h1>@ViewData["Title"]</h1>

<p>Benvenuto su Bancarella di Nicolas Cage! Qui ci prendiamo cura della tua privacy con lo stesso impegno con cui Nicolas Cage si prende cura dei suoi capelli: meticolosamente ma con un tocco di caos.</p>

<h2>Raccolta delle Informazioni</h2>
<p>Per creare un account sul nostro glorioso sito, abbiamo bisogno delle seguenti informazioni:</p>
<ul>
    <li><strong>Nome utente:</strong> Il nome che ti farà sembrare un vero eroe d'azione. Nota: non garantiamo avventure emozionanti.</li>
    <li><strong>Password:</strong> Per tenere lontani i cattivi, Francesco e per proteggere il tuo account.</li>
</ul>

<h2>Utilizzo delle Informazioni</h2>
<p>Utilizziamo le tue preziose informazioni per i seguenti scopi:</p>
<ul>
    <li><strong>Gestione dell'Account:</strong> Ti facciamo entrare nel nostro club esclusivo. Non è necessario mostrare la tessera del fan club di Nicolas Cage, ma apprezziamo lo sforzo.</li>
    <li><strong>Sicurezza:</strong> Manteniamo i tuoi dati al sicuro come il tesoro in "Il Mistero dei Templari".</li>
</ul>

<h2>Protezione delle Informazioni</h2>
<p>Abbiamo implementato misure di sicurezza che farebbero impallidire anche il protagonista di Face/Off. Solo noi, e forse un clone di Nicolas Cage, possiamo vedere i tuoi dati.</p>

<h2>Diritti degli Utenti</h2>
<p>Hai il diritto di accedere, correggere o eliminare le tue informazioni personali. Per qualsiasi informazione, contattaci tramite piccione viaggiatore (facoltativo ma apprezzato) o direttamente via email a questo indirizzo <a href="https://007titanluna@gmail.com">007titanluna@gmail.com</a>.</p>

<p>Bancarella di Nicolas Cage: dove la tua privacy è al sicuro e senza connessioni con il terrorismo sin dal <a href="https://it.wikipedia.org/wiki/Strage_della_discoteca_Dolphinarium" target="_blank">2001</a>!</p>
